.sticky-header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  padding-top: 10px;
  transition-timing-function: cubic-bezier(.215, .61, .355, 1);
  transition-duration: .7s;
  transition-property: height, top;
  text-align: center;
  background-image: url('../img/bg-green.jpg');
  box-shadow: 0 1px 10px 0 $shadow-color;

  @include max(1023) {
    height: 60px;
    padding: 0;
    .container {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  &.active {
    height: 100vh;
    @include max(750) {
      .menu__list {
        height: 100vh;
      }
    }
  }
}
.sticky-header__inn {
  // overflow: hidden;
  // max-width: 1200px;
  // height: 100%;
  // margin: 0 auto;
}
.sticky-header.scrolling {
  height: 120px;

  @include max(1023) {
    height: 60px;
    // padding: 0;
    // .container {
    //   padding-top: 0;
    //   padding-bottom: 0;
    // }
  }
  &.active {
    height: 100vh;

    @include max(750) {
      .menu__list {
        height: 100vh;
      }
    }
  }
}
.sticky-header.hide {
  top: -170px;
}



.header {
  // @include m1000() {
  //   height: 50px;
  //   transition: .5s;
  //   &.active {
  //     height: 100vh;
  //     .menu__list {
  //       height: 100vh;
  //       padding-top: 200px;
  //     }
  //     .menu__item {
  //       &:nth-child(even) {
  //         left: 0;
  //       }
  //       &:nth-child(odd) {
  //         right: 0;
  //       }
  //     }
  //     .menu__item--logo {
  //       top: 40px;
  //     }
  //   }
  // }
  // @include m500() {
  //   &.active {
  //     .menu__item--logo {
  //       top: 90px;
  //     }
  //   }
  // }
}
.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -40px 0 -30px 0;
  padding: 0;
  background-image: url('../img/bg-green.jpg');

  @include max(1023) {
    margin: 0;
    margin: -3px 0 0 0;
    //   position: relative;
    //   display: block;
    //   overflow: hidden;
    //   height: 0;
    //   transition: .5s;
    // text-align: center;
  }
  @include max(750) {
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    height: 0;
    transition: .5s;
  }
}
.menu__item {
  margin-bottom: -30px;
  list-style: none;

  @include max(1023) {
    line-height: 60px;
  }
  // @include m1000() {
  //   position: relative;
  //   margin-bottom: 0;
  //   &:nth-child(even) {
  //     left: -100%;
  //     transition: left .7s cubic-bezier(.19,-.01,.59,1.34);
  //   }
  //   &:nth-child(odd) {
  //     right: -100%;
  //     transition: right .7s cubic-bezier(.19,-.01,.59,1.34);
  //   }
  // }
}
.menu__link {
  font-family: $font-title;
  font-size: 34px;
  transition: all .5s;
  transition: text-shadow .5s ease;
  text-decoration: none;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: $text-light-color;
  text-shadow: 3px 3px 3px $shadow-color;

  @include max(1180) {
    font-size: 28px;
  }
  @include max(880) {
    // margin-bottom: -10px;
    font-size: 24px;
  }
  // @include m1150() {
  //   @include font-size(28);
  // }
  // @include m1000() {
  //   line-height: 1.5;
  //   @include font-size(36);
  // }
  // @include m425() {
  //   line-height: 1.5;
  //   @include font-size(30);
  // }
  &:hover {
    color: $text-light-color;
    text-shadow: 2px 1px 2px $shadow-color;
  }
}
.menu__item--logo {
  position: relative;
  margin: 0 -20px -45px -20px;
  padding: 40px;
  text-indent: -9999px;
  border-radius: 50%;
  background-image: url('../img/bg-green.jpg');

  @include max(1023) {
    display: none;
  }
  // @include m1000() {
  //   position: absolute;
  //   top: -999px;
  //   right: 0;
  //   left: 0 !important;
  //   width: 130px;
  //   height: 130px;
  //   margin: auto;
  //   padding: 15px;
  //   transition: top .5s !important;
  // }
  // @include m500() {
  //   width: 95px;
  //   height: 95px;
  // }
  &::before {
    position: absolute;
    z-index: -11;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    border-radius: 50%;
    box-shadow: 0 1px 10px 0 $shadow-color;
  }
}
.menu__link--logo {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  // @include m1000() {
  //   display: none;
  // }
}
.menu__logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #585858;
  background-image: url('../img/tryzub-light.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  box-shadow: 0 0 0 12px #585858,
  0 0 0 13px $light-color,
  0 0 0 17px #585858;
  // @include m500() {
  // width: 60px;
  // height: 60px;
  // }
}

.header__phone {
  position: absolute;
  z-index: 1;
  top: 5px;
  right: 15px;
  display: none;
  // @include m1000() {
  display: flex;
  align-items: center;
  cursor: pointer;
  // }
  &:hover {
    .header__phone-icon {
      // fill: $highlight;
    }
    .header__phone-link {
      // color: $highlight;
    }
  }
}
.header__phone-icon {
  // fill: $brand-color;
  // @include m350() {
  display: none;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  transition: fill .5s;
  // }
}
.header__phone-link {
  // font-family: $font-title;
  line-height: 1.4;
  margin-top: 3px;
  transition: color .5s;
  text-decoration: none;
  // color: $brand-color;
  // @include font-size(28);
}
