.footer {
  position: fixed;
  right: 0;
  bottom: -1000px;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 8px 10px;
  transition: bottom 3s;
  transition-delay: 7s;
  box-shadow: 0 1px 10px 0 $shadow;
  &.active {
    bottom: 0;
  }
}
.hero .footer {
  background-image: url('../img/bg-green.jpg');
}
.services .footer {
  background-image: url('../img/bg-bezh.jpg');
}
.copyright__link,
.copyright {
  font-family: $font-title;
  transition: all .5s;
  text-decoration: none;
  letter-spacing: 1px;
  color: $text-light;
  text-shadow: 2px 2px 2px $shadow;
  &:hover {
    color: $link-hover;
    text-shadow: none;
    .copyright {
      color: $text-light;
      text-shadow: none;
    }
  }
}
