extends ../_template

block variables
  - var title = 'Послуги'

block content
  include ../elements/stickyHeader
  
  //begin content
  section.main
    section.services
      .container


  //end   content